<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election statistics</title>
    <link rel="stylesheet" href="electiondetails.css">
</head>
<body>
    <!-- <div class="container">
        <div class="chart-section">
            <h2>Ballots Submitted By Date</h2>
            <div class="chart"></div>
            <div class="voting-urls">
                <h3>Voting URLs</h3>
                <div class="url-item">
                    <label>Election URL</label>
                    <input type="text" readonly value="https://vote.electionrunner.com/election/AbCyX">
                    <button>Copy</button>
                </div>
                <div class="url-item">
                    <label>Short URL</label>
                    <input type="text" readonly value="https://j.mp/j7wW9">
                    <button>Copy</button>
                </div>
            </div>
        </div> -->
        <div class="stats-section">
            <div class="stat green">
                <h3>64%</h3>
                <p>Participation (1,251 Voters)</p>
            </div>
            <div class="stat orange">
                <h3>1,961</h3>
                <p>Voters</p>
            </div>
            <div class="stat pink">
                <h3>2</h3>
                <p>complaints</p>
            </div>
            <div class="stat purple">
                <h3>266</h3>
                <p>feedback</p>
            </div>
        </div>
    </div>
</body>
</html>
